input {
    keyboard {
        xkb {
            layout "us(altgr-intl),br"
        }
        repeat-delay 250
        repeat-rate 50
    }

    touchpad {
        tap
        tap-button-map "left-right-middle"
        natural-scroll
        dwt
        accel-profile "adaptive"
        accel-speed 0.3
        click-method "clickfinger"
        scroll-factor 1.1
        drag true
    }

    mouse {
        accel-profile "flat"
    }

    mod-key "Super"
    mod-key-nested "Alt"

    warp-mouse-to-focus
    focus-follows-mouse
}

gestures {
    hot-corners {
        // off
    }
}

cursor {
    xcursor-theme "macOS"
    xcursor-size 24
    hide-when-typing

    shake-to-enlarge {
        zoom-factor 3.0
        hold-duration-ms 1200
        threshold 2000.0
    }
}
